* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif; 
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #EEEEEC;
}


/* Comienzo del HEADER */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar ul li{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar ul li a{
    color: #6D6D6D;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar ul li a:hover{
    color: #3D3D3D;
}

button{
    border: none;
    background-color: #6D6D6D;
    padding: 12px 20px;
    /* border-radius: 30px; */
    font-size: 15px;
    color: #EEEEEC;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #3D3D3D;
}

/* Comienzo del Jumbotron */

.jumbotron {
    height: 100vh;
    padding-top: 40px;
    background-image: url(../images/background-img2.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron h1{
    /* background-image: url(../images/background-img22.png);
    background-position: center;
    background-size: cover; */
    text-align: center;
    font-size: 5rem;
    color: #3D3D3D;
    padding-bottom: 10px;
}

.jumbotron p{
    text-align: center;
    font-size: 1rem;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    width: 50%;
    height: fit-content;
    background-color: white;
    margin-left: 25%;
    margin-top: 30px; 
}

.form-container form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    margin-left: 3rem;
}

.input-box label{
    font-size: 1.1rem;
    font-weight: bold;
    color: #3D3D3D;
}

.input-box select{
    margin: 0.6rem 0;
    padding-top: 0.3rem;
    border: none;
}

.price-slider{
    display: flex;
    margin: 0.6rem 0;
    padding-top: 0.3rem;
}

.input-button input{
    border: none;
    color: #EEEEEC;
    background-color: #6D6D6D;
    font-size: 13px;
    padding: 9px 15px;
}

.input-button input:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #3D3D3D;
}

/* Comienzo de BLOG */

.blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.blog div h1{
    color: #3D3D3D;
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
}

.blog div h6{
    color: #6D6D6D;
    font-size: 15px;
    margin-left: 25px;
}

.blog div a{
    text-decoration: none;
    color: #6D6D6D;
    margin-right: 50px;
    font-size: 20px;
}

.blog div a:hover{
    color: #3D3D3D;
}

.catalogue{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
}

.houses{
    background-color: white;
    width: 500px;
    margin-bottom: 10px;
}

.houseImg{
    height: 350px;
    background-size: cover;
    margin-bottom: 20px;
}

.houseOne{
    background-image: url(../images/house1.jpg);
}

.houseTwo{
    background-image: url(../images/house2.jpg);
}

.houseThree{
    background-image: url(../images/house3.jpg);
}

.houses h3{
    color: #6D6D6D;
    margin-left: 30px;
    font-size: 30px;
    padding-bottom: 15px;
}

.houses p{
    margin-left: 30px;
    padding-bottom: 20px;
}

.houses span{
    font-size: 20px;
    font-weight: bold;
    color: #6D6D6D;
}

.houses button{
    margin-left: 30px;
    margin-bottom: 40px;
    padding-left: 180px;
    padding-right: 180px;
}

/* Comienzo de ADDITIONS */

.adittions{
    margin-top: 100px;
    background-image: url(../images/last-picture.png);
    background-size: contain;
    text-align: center;
    height: 250px;
}

.adittions h1{
    font-size: 3rem;
    color: #3D3D3D;
    margin-bottom: 10px;
}

.adittions h4{
    font-size: 20px;
    color: #6D6D6D;
    margin-bottom: 10px;
}

.email-address{
    padding: 10px 70px;
    border: none;
}

.send-button{
    background-color: #3D3D3D;
    padding: 10px 20px;
    border: none;
    color: #EEEEEC;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

/* Comienzo de FOOTER */

footer{
    background-color: #3D3D3D;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

footer picture img{
    width: 250px;
}

.footer-social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-list a{
    display: block;
    color: #EEEEEC;
    text-decoration: none;
    padding-bottom: 15px;
}

.footer-list h3{
    color: #EEEEEC;
    font-size: 20px;
    padding-bottom: 15px;
}

/* MEDIA QUERIES */

@media (max-width:1200px){
    .navbar{
        flex-direction: column;
    }

    .navbar ul{
        padding: 10px;
    }
}

@media (max-width:990px){
    .jumbotron h1{
        font-size: 4rem;
    }
}

@media (max-width:620px) {
    .navbar ul li a{
        font-size: 1rem;
    }

    .adittions{
        font-size: 2rem;
        margin-top: 50px;
        height: 300px;
    }
    
}

@media (max-width:525px) {
    .navbar ul li a{
        font-size: 0.8rem;
    }

    .adittions h1{
        font-size: 2rem;
    }
    
}

@media (max-width:1887px){
    .input-box{
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

@media (max-width:1630px){
    .input-box{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media (max-width: 1342px){

    .form-container{
        height: 12vh;
    }

    .input-box{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .input-group{
        /* margin-left: 1rem;
        margin-right: 1rem; */
        justify-content: center;
    }

    .input-box label{
        padding-right: 0.3rem;
    }
}

@media (max-width: 936px){
    .form-container{
        height: fit-content;
    }
}

@media (max-width:520px){
    .input-box{
        flex-direction: column;
    }
}


